In [8]:

import pandas as pd
import numpy as np

df = pd.read_csv("../data/test df animals2.csv")
display(df.head())
print('value counts')
display(df['education'].value_counts())
education_list = list(df['education'].unique())
display(f"ed list: {education_list}")
display(df['education'].unique())

,animal,animal_name,rand_num,rand_delete2,weight,breed,education,the_y_loyalty
0,cat,ari,10,10,15,alley,high school,1
1,dog,coco,20,20,30,mut,college,3
2,rat,willard,30,30,1,NYC rat,primary,2
3,cat,ava,40,40,16,alley,high school,2
4,dog,bear,50,50,70,golden,post grad,4

value counts

education
primary        6
high school    5
college        3
post grad      3
Name: count, dtype: int64

AttributeError: 'numpy.ndarray' object has no attribute 'to_list'

In [ ]:
display('df info')
display(df.info())
df['aspiration'].dtypes.name

# obj_types = [df_in_process[col].dtype.name for col in df_in_process.columns]

'df info'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

None

'object'

In [ ]:
display(df.head())
df.to_csv("C:/Users/dougi/GitHub/streamlit_app/data/raw_auto_data_2.csv", index=False)

def get_default_encode_num(df):
    encode_list = []
    for the_col in df.columns:
        if df[the_col].dtype.name == 'object':
            encode_list.append(1)
            encoding_temp = 1
        else:
            encode_list.append(4)
            encoding_temp = 4
        display(f"for Column: {the_col} dype is: {df[the_col].dtype.name}. the encoding is: {encoding_temp}")
    return encode_list

list_1_or_4 = get_default_encode_num(df)
display(df.columns)
display(list_1_or_4)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

'for Column: symboling dype is: int64. the encoding is: 4'

'for Column: normalized-losses dype is: object. the encoding is: 1'

'for Column: make dype is: object. the encoding is: 1'

'for Column: fuel-type dype is: object. the encoding is: 1'

'for Column: aspiration dype is: object. the encoding is: 1'

'for Column: num-of-doors dype is: object. the encoding is: 1'

'for Column: body-style dype is: object. the encoding is: 1'

'for Column: drive-wheels dype is: object. the encoding is: 1'

'for Column: engine-location dype is: object. the encoding is: 1'

'for Column: wheel-base dype is: float64. the encoding is: 4'

'for Column: length dype is: float64. the encoding is: 4'

'for Column: width dype is: float64. the encoding is: 4'

'for Column: height dype is: float64. the encoding is: 4'

'for Column: curb-weight dype is: int64. the encoding is: 4'

'for Column: engine-type dype is: object. the encoding is: 1'

'for Column: num-of-cylinders dype is: object. the encoding is: 1'

'for Column: engine-size dype is: int64. the encoding is: 4'

'for Column: fuel-system dype is: object. the encoding is: 1'

'for Column: bore dype is: object. the encoding is: 1'

'for Column: stroke dype is: object. the encoding is: 1'

'for Column: compression-ratio dype is: float64. the encoding is: 4'

'for Column: horsepower dype is: object. the encoding is: 1'

'for Column: peak-rpm dype is: object. the encoding is: 1'

'for Column: city-mpg dype is: int64. the encoding is: 4'

'for Column: highway-mpg dype is: int64. the encoding is: 4'

'for Column: price dype is: object. the encoding is: 1'

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

[4, 1, 1, 1, 1, 1, 1, 1, 1, 4, 4, 4, 4, 4, 1, 1, 4, 1, 1, 1, 4, 1, 1, 4, 4, 1]

In [ ]:
y_df = df[['symboling']]
X_df = df.drop(columns = 'symboling')
display("y df...")
display(y_df.head())
display("x df...")
display(X_df.head())

'y df...'

   symboling
0          3
1          3
2          1
3          2
4          2

'x df...'

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [3]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

df['body_style'].head()

NameError: name 'df' is not defined